body {
  margin: 0;
  background-color: #303030;
  color: white;
}

.title {
  text-align: center;
  margin-top: 150px;
  font-size: 25px;
}

.title-sub {
  text-align: center;
}

.navbar {
  background-color: white;
  padding: 20px;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
}
